[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
cryptg = "*"
requests = "*"
Flask = "*"
PySocks = "*"
GitPython = "*"
Telethon = "*"

[dev-packages]

[requires]
python_version = "3.8"
